div#heading
	h1 Draw with a Friend!
	p Share this website with a friend and draw something cool!
canvas#canvas.canvas
.toolbar#toolbar
	ul#color-list.color-list
		li
			a(href="#", style="background:#0000ff", data-color="#0000ff", class="selected")
		li
			a(href="#", style="background:#ff0000", data-color="#ff0000")
		li
			a(href="#", style="background:#008000", data-color="#008000")
		li
			a(href="#", style="background:#ffa500", data-color="#ffa500")
		li
			a(href="#", style="background:#ffff00", data-color="#ffff00")
		li
			a(href="#", style="background:#000000", data-color="#000000")
	.thickness-slider#slider