html, body{
	margin:auto;
	padding:0;
	overflow:hidden;
	position:relative;
	height:100%;
	width: 95%;
	font-family:arial, helvetica, sans-serif;
	background-color: rgb(230,230,230);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.canvas{
position:absolute;
background:#fff;
top:0;
bottom:0;
left:0;
right:0;
}
#heading {
 z-index: 1;
 border-bottom: 1px solid black;
 position: fixed;
 width: 90%;
 text-align:center;
 font-family: Georgia, "Book Antiqua", Palatino, serif;
 color: #444;
 margin: 0;
 padding: 10px 0px 0px 0px;
 letter-spacing: -2px;
 font-weight: bold;
}
#heading h1{
 z-index: 1;
 font-size: 50px;
}
#heading p{
 z-index: 1;
 font-family: Verdana;
 font-size: 11px;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-weight: bold;
 padding:0px 0px 6px 0px;
}
.toolbar{
	position:absolute;
	bottom:0px;
	left:0;
	right:0;
	height:65px;
	background:#222;
	display:block;
}

/* Color list
-------------------------------------------------*/
.color-list{
	margin:0 0 0 10px;
	padding:0;
	list-style:none;
}
.color-list li{
	margin:0;
	padding:0;
	float:left;
}
.color-list a{
	display:block;
	height:35px;
	width:35px;
	margin:15px 7px 15px 7px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	-moz-box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
	box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
	position:relative;
	border: .5px solid white;
}
.color-list .selected:after{
	content: ' ';
	display:block;
	color:#fff;
	width:17px;
	height:17px;
	position:absolute;
	top:9px;
	left:9px;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.5);
	box-shadow:0 0 3px rgba(0,0,0,0.5);
	background:rgba(255,255,255,0.5);
}

/* Thickness slider
-------------------------------------------------*/
.thickness-slider{
	width:200px;
	position:absolute;
	top:25px;
	left:350px;
}
